<div layout="column" layout-margin layout-fill layout-padding>
    <div flex>Plan</div>
    <div layout="row" flex="50">
        <div layout="row" layout-sm="column" layout-wrap>
            <div ng-repeat="day in dailyPlans | orderBy: '+date'" flex-lg="25">
                <md-card  ng-class="{todayBox: day.dayDistance == 0}" id="{{day.dayDistanceLabel}}">
                    <div layout="row" layout-align="space-between start">
                        <div >{{day.dayDistanceLabel}} </div>
                        <div >{{day.dayLabel}} {{day.date | date: 'dd/MM'}}</div>
                    </div>
                    <img ng-src="{{day.recipe.origin.image}}" alt="{{day.recipe._id}}" class="reteta-image reteta-titlu" ui-sref="retetaModal({recipe: day.recipe})">
                    <md-card-content>
                        <p ui-sref="retetaModal({recipe: day.recipe})" class="reteta-titlu">{{day.recipe._id}}</p>
                    </md-card-content>
                    <md-card-footer>
                        <span class="fa fa-copyright"></span>
                        <a href="{{day.recipe.origin.url}}" target="_blank">
                            <span ng-if="!!day.recipe.origin.copyright">{{day.recipe.origin.copyright}}</span>
                        </a>
                    </md-card-footer>
                </md-card>

            </div>
            <!-- </md-content> -->
        </div>
    </div>
    <div flex="50">lliiiiiiiiiiiiiiiiiiiiiiiiist</div>
</div>
