<div layout="row" layout-align="space-around start" layout-fill>
    <div id="recipes" layout="column" layout-align="start start" layout-wrap style="height:150vh" flex>
        <div ng-repeat="zi in plan.zile | orderBy: '+index'">
            <div flex>
                <md-card>
                    <img src="{{zi.retete.poza}}" alt="{{plan.nume}}: {{zi.nume}} - {{zi.retete.nume}}" class="md-card-image">
                    <md-card-content>
                        <span ui-sref="retetaModal({year: startPlan.year, month: startPlan.month, day: startPlan.day, id: zi.retete.url, reteta: zi.retete})" class="reteta-titlu">{{zi.retete.nume}}</span>
                        <p>Card content</p>
                    </md-card-content>
                    <md-card-footer>
                        {{zi.nume}}
                    </md-card-footer>
                </md-card>
            </div>
        </div>
    </div>
    <div id="shoppingList" layout="column" layout-align="start start" layout-wrap style="height:100vh" flex>
        <div ng-repeat="categorie in home.lista | orderBy: '-ingrediente.length'" class="item">
            <md-list>
                <md-subheader>
                    {{categorie._id}} ({{categorie.ingrediente.length-home.countCumparate(categorie.ingrediente)}})
                </md-subheader>
                <div ng-repeat="produs in categorie.ingrediente | orderBy: '+ nume'" class="produs">
                    <md-list-item>
                        {{produs.nume}}
                    </md-list-item>
                </div>
            </md-list>
        </div>
    </div>
</div>
