    <nav class="navbar navbar-inverse navbar-default navbar-fixed" id="topContent">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Plan de masa</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{todayLink}}">Azi</a>
                </li>
                <li>
                    <a href="">Sapt. asta</a>
                </li>
                <li>
                    <a href="{{nextMonday}}">Sapt. viitoare</a>
                </li>
                <li>
                    <a href="#cinesuntem">Cine suntem</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.pinterest.com/plandemasa">
                        <span class="social-media"><i class="fa fa-pinterest"></i></span>
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com/plandemasa">
                        <span class="social-media"><i class="fa fa-facebook-official"></i></span>
                    </a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </nav>
