 <div class="container">
    <div class="row">
      <h1>
  De ce sa-ti planifici mesele?</h1>
    </div>
    <div class="row">
      Fara o planificare, aleg retetele zilnic, de cele mai multe ori din cele incercate, din memorie. Si asa, din preferate ale copiilor, chiftelutele la cuptor ajung sa fie "iar mancam asta azi, mami?". Cateodata incerc sa ies din rutina, si ma plimb pe net, in cautare de retete. Dupa 30 minute si nimic care sa se potriveasca perfect la ce am in frigider, aleg una. Ca ar trebui sa apuc sa si dorm (de obicei gatesc seara, pentru a doua zi). Reteta din care, invariabil, imi lipseste cel putin un ingredient.
      <br/> Cateodata, iese bine.
    </div>
    <div class="row">

      Cand ma duc la magazin cu lista (atasata planificarii), ma minunez ca pot gati o saptamana doar cu atat de putin. Si am motiv sa nu iau ciupercile alea care ma tenteaza, stiind ca nu am cand sa le gatesc pana se dezintegreaza in frigider.
    </div>
    <div class="row">

      <h3>Planificand mesele, ai:</h3>
      <ul>
        <li> "Eu ce gatesc azi?" --> acum stii rapid raspunsul</li>
        <li> Eviti risipa. La magazin, cumperi doar ce ai nevoie. </li>
        <li> Avand o vedere de ansamblu a saptamanii, ai mese variate </li>
        <!--TODO to decide if relevant -->
        <li> Pui azi carnea la marinat pentru ca maine ai planificat s-o bagi la cuptor</li>
        <li> Sunt multe retete si idei culinare de unde poti alege, cateodata avand prea multe alegeri nu mai alegi nimic. Un plan de masa te ajuta, limitandu-ti optiunile, facandu-le mai clare.</li>
        <li> Din reteta de azi, stii ca ai toate ingredientele la indemana. Asta daca n-au dat atac niste manute mici la maslinele din frigider</li>
      </ul>
    </div>
    <div class="row">
      Ce te nemultumeste la cum gatesti acum? Participa la <a href="https://www.facebook.com/plandemasa/posts/424297831065177" target="_blank">discutia noastra de pe FB</a>.
    </div>

  </div>
