<div class="modal-header">
    <h3 class="modal-title">{{recipe._id}}</h3>
    <i class="fa fa-user"></i> {{recipe.persons}}
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div ng-repeat="categ_ingredient in recipe.ingredients">
                <span ng-if="recipe.ingredients.length > 1">{{categ_ingredient.for_what}}</span>
                <ul>
                    <li ng-repeat="ingredient in categ_ingredient.list | orderBy: '+category'">
                        {{ingredient.name}}
                        <span ng-if="ingredient.quantity">: {{ingredient.quantity}} {{ingredient.um}} </span>
                        <span ng-if="ingredient.comment" class="ingredient-comentariu">({{ingredient.comment}})</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <div ng-repeat="instruction in recipe.instructions | orderBy: '+order'">
                {{instruction.order + 1}}.
                <span ng-if="!!instruction.for_what" class="instructiune-pentru">{{instruction.for_what}}</span> {{instruction.text}}
            </div>
            <div>
                <i class="fa fa-road"></i>
                <span>Vezi toata povestea retetei pe </span>
                <a href="{{recipe.origin.url}}" target="_blank">
                    <span ng-if="!!recipe.origin">{{recipe.origin.copyright}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div ng-switch on="planLink">
        <div ng-switch-when="true">
            <button class="btn btn-primary" ng-click="close()">Inapoi la plan</button>
        </div>
        <div ng-switch-default>
            <button class="btn btn-primary" ng-click="close()">Gata</button>
        </div>
    </div>

</div>
