<div ng-controller="RecipeAddFormController as raf"></div>
<form class="grid-form">
    <fieldset>
        <legend><i class="fa fa-plus-circle"></i> {{recipe._id}}</legend>
        <div data-row-span="6">
            <div data-field-span="2">
                <label>Nume</label>
                <input type="text" autofocus ng-model="recipe._id">
            </div>
            <div data-field-span="1">
                <label>Poveste (caption)</label>
                <input type="text" ng-model="recipe.story">
            </div>
            <div data-field-span="1">
                <label>Etichete</label>
                <input type="text" ng-model="recipe.labels">
            </div>
            <div data-field-span="2">
                <label>Etichete pentru reguli</label>
                <input type="text" ng-model="recipe.dish_labels">
            </div>
        </div>
        <div data-row-span="6">
            <div data-field-span="2">
                <label>Origine URL</label>
                <input type="text" ng-model="recipe.origin.url">
            </div>
            <div data-field-span="1">
                <label>Origine Copyright</label>
                <input type="text" ng-model="recipe.origin.copyright">
            </div>
            <div data-field-span="2">
                <label>Origine Poza URL</label>
                <input type="text" ng-model="recipe.origin.image">
            </div>
            <div data-field-span="1">
                <label>Origine Limba</label>
                <input type="text" ng-model="recipe.origin.language">
            </div>
        </div>
        <div data-row-span="6">
            <div data-field-span="1">
                <label>Poza proprie URL</label>
                <input type="text" ng-model="recipe.image">
            </div>
            <div data-field-span="1">
                <label>Nr pers</label>
                <input type="number" ng-model="recipe.persons">
            </div>
            <div data-field-span="1">
                <label>Timp (min)</label>
                <input type="number" ng-model="recipe.time">
            </div>
            <div data-field-span="1">
                <label>Nivel(1..5)</label>
                <input type="number" ng-model="recipe.level">
            </div>
            <div data-field-span="1">
                <label>Limba</label>
                <input type="text" ng-model="recipe.language">
            </div>
        </div>
        <br>
        <fieldset>
            <legend>Ingrediente</legend>
            <div ng-repeat="list in getNumber(ingredientListCount) track by $index" ng-init="parentIndex = $index">
                <div data-row-span="12">
                    <div data-field-span="11">
                        <label>#{{parentIndex}} Pentru</label>
                        <input type="text" ng-model="recipe.ingredients[$index].for_what">
                    </div>
                    <div data-field-span="1">
                        <a href="" ng-if="$index==ingredientListCount-1" ng-click="addIngredientList()"><i class="fa fa-plus-circle fa-2x"></i></a>
                    </div>
                </div>
                <div ng-repeat="ing in getNumber(ingredientCount[parentIndex]) track by $index">
                    <div data-row-span="6">
                        <div data-field-span="1">
                            <label>Nume {{$index}}</label>
                            <input type="text" ng-model="recipe.ingredients[parentIndex].list[$index].name">
                        </div>
                        <div data-field-span="1">
                            <label>Cant</label>
                            <input type="number" ng-model="recipe.ingredients[parentIndex].list[$index].quantity" min="0">
                        </div>
                        <div data-field-span="1">
                            <label>um</label>
                            <input type="text" ng-model="recipe.ingredients[parentIndex].list[$index].um">
                        </div>
                        <div data-field-span="1">
                            <label>Categ</label>
                            <input type="text" ng-model="recipe.ingredients[parentIndex].list[$index].category">
                        </div>
                        <div data-field-span="1">
                            <label>Comentariu</label>
                            <input type="text" ng-model="recipe.ingredients[parentIndex].list[$index].comment">
                        </div>
                        <div data-field-span="1">
                            <a href="" ng-if="$index==ingredientCount[parentIndex]-1" ng-click="addIngredient(parentIndex)"><i class="fa fa-plus-circle fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset>
            <legend>Instructiuni</legend>
            <div ng-repeat="i in getNumber(instructionCount) track by $index" ng-init="recipe.instructions[$index].order = $index">
                <div data-row-span="12">
                    <div data-field-span="1">
                        <label>#</label>
                        <input type="number" ng-model="$index">
                    </div>
                    <div data-field-span="1">
                        <label>pentru</label>
                        <input type="text" ng-model="recipe.instructions[$index].for_what">
                    </div>
                    <div data-field-span="9">
                        <label>text</label>
                        <input type="text" ng-model="recipe.instructions[$index].text">
                    </div>
                    <div data-field-span="1">
                        <a href="" ng-if="$index==instructionCount-1" ng-click="addInstruction()"><i class="fa fa-plus-circle fa-2x"></i></a>
                    </div>
                </div>
            </div>
        </fieldset>
        <br>
        <fieldset>
            <legend>Pentru planul si ziua (optional)</legend>
            <div data-row-span="12">
                <div data-field-span="2">
                    <label>Plan nume</label>
                    <input type="text" ng-model="fixed.name">
                </div>
                <div data-field-span="2">
                    <label>Plan start date (dd/MM/yyyy)</label>
                    <input type="text" ng-model="fixed.start_date">
                </div>
                <div data-field-span="2">
                    <label>Plan end date (dd/MM/yyyy)</label>
                    <input type="text" ng-model="fixed.end_date">
                </div>
                <div data-field-span="2">
                    <label>Ziua index (0..6)</label>
                    <input type="number" ng-model="fixed.index">
                </div>
                <div data-field-span="2">
                    <label>Data (dd/MM/yyyy)</label>
                    <input type="text" ng-model="day.dateString">
                </div>
                <div data-field-span="2">
                    <label>Abrev (A,B..)</label>
                    <input type="text" ng-model="fixed.abbrev">
                </div>
            </div>
            <div data-row-span="12">
                <div data-field-span="4">
                    <label>Pinterest URL</label>
                    <input type="text" ng-model="fixed.pinterest_url">
                </div>
            </div>
        </fieldset>
    </fieldset>
    <br>
    <input type="submit" ng-click="add(recipe, day, fixed)" class="btn" value="Salveaza" />
</form>
<br>
<br>
<br>
<br>
<br>
